<div class="about">
	<h1>About</h1>
	<p>
		Animali!はペットの自慢やお悩み、お役立ち情報を共有するコミュニティサイトです。<br>
		愛するペットの可愛い写真や面白い写真を投稿したり、<br>
		お悩みを投稿して相談してみましょう！<br>
		♡♡Enjoy life with pet!!♡♡
	</p>
	<p>
		＞＞<%= link_to "商品を覗く", blogs_path %>＜＜
	</p>
